

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	
	background-color: black
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 4rem;
}



input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}



.form-style-input {
    width: 50%;
    background-color:gray;
    padding: 1em;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.25rem;

}


.submit-button{
    color:white ;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}

.submit-button:hover{
    color: red !important;
    transition: 0.4s;
}

.main {
	flex: 1 1 0%;
    padding:2rem 1rem;
	max-width: 800px;
	width: 50%;
    justify-content: center!important;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 4rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: gray;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
	color: white;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: brown;
}

#tasks .task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover{
    color: red;
}

.task .actions .edit {
	color: white;
}

.task .actions .delete {
	color: white;
}